
.pageHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #111111;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /* Tam ekran genişliğini kaplaması için */
    height: 8vh;
    z-index: 10; /* Diğer içeriklerin üzerinde görünmesini sağlar */
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 8vh); /* header'ın yüksekliğini dikkate alarak hesaplama */
    gap: 10rem;
    background: #111111;
    position: relative; /* Header'ın altında yer alması için */
    top: 8vh; /* Header'ın yüksekliği kadar aşağı kaydır */
}

.pageTitle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #fff;
}

.btn {
    color: #000;
}

.btnContainer {
    display: flex;
    gap: 2rem;
}

.investmentImg {
    width: 350px;
    height: 350px;
    border-radius: 15px 55px;
}

.pageContentText {
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #fff;
    width: 15rem;
}
