.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    background: #fff;
    border: none;
    border-radius: 35px;
    height: 33rem;
    width: 38rem;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background: linear-gradient(to top right, #BEAAFF 30%, #FBA0FF);
}

.title {
    font-size: 36px;
    font-weight: 800;
    font-family: 'Times New Roman', Times, serif;
}

.text {
    font-size: 24px;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
}

.data {
    width: 200px;
    height: 25px;
    border: 1px solid #000;
}

.data:focus {
    outline: none;
    border: 1px solid #000;
}

.btn {
    width: 120px;
    height: 40px;
    border: 1px solid #7351FF;
    border-radius: 25px;
    background: #7351FF;
    color: #FFFFFF;
    text-align: center;
    cursor: pointer;
}

.btn:hover {
    animation: sparkle 1s ease-in-out;
}

@keyframes sparkle {
    0%{
        box-shadow: 
        0 0 50px #7351FF,
        0 0 75px #FFFFFF;
    }
}